<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{title}}}</title> <!-- Use triple braces to allow HTML content -->
</head>
<body>
  <div class="content">
    {{{body}}} <!-- This is where your dynamic content will be injected -->
  </div>
  
  <footer>
    <p>Footer Information</p>
  </footer>
</body>
</html>
